.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.button {
  padding: 10px;
  font-size: 16px;
  background-color: #0077cc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

thead {
  background-color: #0077cc;
  color: #fff;
}

th,
td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

th {
  font-weight: bold;
}

tbody tr:nth-of-type(even) {
  background-color: #f2f2f2;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase
}

.logout {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  font-size: 14px;
  background-color: red;
  color: white;
  font-weight: bold;
  cursor: pointer;
}